<nav class="container menu-primary">
  <h4>Features</h4>
  <h5>Components</h5>
  <h6 [routerLink]="['/features']">Overview</h6>
  <h6 [routerLink]="['/features/modal-gallery']">Modal Gallery</h6>
  <h6 [routerLink]="['/features/plain-gallery']">Plain Gallery</h6>
  <h6 [routerLink]="['/features/carousel']">Carousel</h6>
  <h5>Basic stuff</h5>
  <h6 [routerLink]="['/features/common']">Common</h6>
  <h6 [routerLink]="['/features/description']">Description</h6>
  <h6 [routerLink]="['/features/accessibility']">Accessibility</h6>
  <h6 [routerLink]="['/features/previews']">Previews</h6>
  <h6 [routerLink]="['/features/upper-buttons']">UpperButtons</h6>
  <h6 [routerLink]="['/features/keyboard-config']">Keyboard configuration</h6>
</nav>
